[submodule "restaurant"]
	path = restaurant
	url = https://github.com/Dyrexxx/restaurant
[submodule "main-warehouse"]
	path = main-warehouse
	url = https://github.com/Dyrexxx/main-warehouse
[submodule "products"]
	path = products
	url = https://github.com/Dyrexxx/products.git
[submodule "maker-menu"]
	path = maker-menu
	url = https://github.com/Dyrexxx/maker-menu.git
